<div class="container mt-3">
	<div class="mb-3">
		<h1>
			Teus Bot 🤖
			<small>First StreamCraft chatbot</small>
		</h1>

		<small>Logged into <a target="_blank" href="https://streamcraft.com/user/<%=data.bot.user.uin%>"><%-data.bot.user.nickname%></a></small>
	</div>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="#nav-commands" data-toggle="tab">Commands</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#nav-language" data-toggle="tab">Language</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#nav-settings" data-toggle="tab">Settings</a>
		</li>

		<li class="nav-item ml-auto">
			<a class="nav-link<%=(data.isOnline) ? " bg-success text-white" : ""%>" href="#nav-enter" title="Make the chatbot enter into the channel.">
				<%=data.isOnline ? "Leave" : "Enter"%> channel
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#nav-test-alert" title="Send a test alert to the stream (via Streamlabs)">Test Alert</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#nav-test-donation" title="Send a test donation to the stream (via Streamlabs)">Test Donation</a>
		</li>
	</ul>

	<div class="tab-content mb-3">
		<div class="tab-pane fade show active" id="nav-commands">
			<div class="list-group">
				<% if (data.commands.length === 0) { %>
					<div class="list-group-item bg-secondary text-muted text-center">
						<h2 class="mb-0">No commands were added :(</h2>
					</div>
				<% } %>
				<% data.commands.forEach((cmd) => { %>
					<div class="list-group-item" data-id="<%=cmd.id%>">
						<div class="d-flex justify-content-between mb-1 bot-command">
							<h5 class="mt-2">!<%=cmd.name%></h5>

							<select class="form-control col-2">
								<option value="text" <%=(cmd.type === "text" ? "selected" : "")%>>Text</option>
								<option value="alias" <%=(cmd.type === "alias" ? "selected" : "")%>>Alias</option>
								<option value="script" <%=(cmd.type === "script" ? "selected" : "")%>>Script</option>
							</select>
						</div>

						<input class="form-control" type="text" value="<%-cmd.content%>" />
					</div>
				<% });%>
			</div>

			<button class="btn btn-lg btn-primary mt-3 float-right" data-toggle="modal" data-target="#add-command">Add a new command</button>
		</div>

		<div class="tab-pane fade" id="nav-language">...</div>
		<div class="tab-pane fade" id="nav-settings">
			<div class="list-group">
				<div class="list-group-item">
					<a href="/streamer/streamlabs/<%=data.bot.user.uin%>">Authenticate with Streamlabs</a>
				</div>
		</div>
	</div>

	<div id="add-command" class="modal fade">
		<div class="modal-dialog modal-dialog-centered">
			<form class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">New command</h3>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label for="cmdName">Name</label>
						<input class="form-control" id="cmdName" name="name" />
						<small class="form-text text-muted">Command name, ex.: !about</small>
					</div>

					<div class="form-group">
						<label for="cmdType">Type</label>
						<select class="form-control input-custom" id="cmdType" name="type">
							<option selected value="text">Text</option>
							<option value="alias">Alias</option>
							<option value="script">Script (Javascript)</option>
						</select>
						<small class="form-text text-muted">Command type</small>
					</div>

					<div class="form-group">
						<label for="cmdContent">Content</label>
						<input class="form-control" id="cmdContent" name="content" />
						<small class="form-text text-muted">Command content that will be shown when command is triggered</small>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<button class="btn btn-primary" type="submit">OK</button>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="js/commands.js"></script>
	<script type="text/javascript" src="js/test.js"></script>
</div>