<div class="container mt-3">
	<div class="mb-3">
		<h3>
			Teus Bot 🤖
		</h3>

		<small>Logged as <%-data.bot.user.nickname%></small>
	</div>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="#nav-commands">Commands</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#nav-language">Language</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#nav-settings">Settings</a>
		</li>

		<li class="nav-item ml-auto">
			<a class="nav-link" href="#nav-test-alert">Test Alert</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#nav-test-donation">Test Donation</a>
		</li>
	</ul>

	<div class="tab-content mb-3">
		<div class="tab-pane fade show active" id="nav-commands" role="tabpanel">
			<div class="list-group">
				<% Object.keys(data.commands).forEach((command) => { let cmd = data.commands[command]; %>
					<div class="list-group-item" data-id="<%=command%>">
						<div class="d-flex justify-content-between mb-1 bot-command">
							<h5 class="mt-2">!<%=command%></h5>

							<select class="form-control col-2">
								<option value="text" <%=(cmd.type === "text" ? "selected" : "")%>>Text</option>
								<option value="alias" <%=(cmd.type === "alias" ? "selected" : "")%>>Alias</option>
								<option value="script" <%=(cmd.type === "script" ? "selected" : "")%>>Script</option>
							</select>
						</div>

						<input class="form-control" type="text" value="<%-cmd.content%>" />
					</div>
				<% });%>
			</div>
		</div>

		<div class="tab-pane fade" id="nav-language" role="tabpanel">...</div>
		<div class="tab-pane fade" id="nav-settings" role="tabpanel">...</div>
	</div>

	<script type="text/javascript" src="/js/pages/test.js"></script>
</div>